body{
    background-color: white;
}

::-webkit-scrollbar-track{
    width: 0;
}
::-webkit-scrollbar{
    width: 0;
}
.center{
    text-align: center;
}
.press,.presss{
    transition: 0.2s linear transform;
}
.press:active{
    transform: scale(0.95);
}
.presss:active{
    transform: scale(0.9);
}
.color{
    color: var(--main-color);
}
a{
    text-decoration: none;
}
